.Card {
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px #d2dae2;
    margin-bottom: 30px;
}

.Card > .top {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.top > .temp {
    color: #3c40c6;
    font-size: larger;
    font-weight: 600;
}

.top > .updated {
    color: #575fcf;
    font-size: small;
    font-weight: 500;
}

.bottom > .repo {
    color: #ff3f34;
    font-size: medium;
    font-weight: 300;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
