@import "~antd/dist/antd.css";

.App {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.App > .bar-left {
    height: 100vh;
    width: 70px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: #3c40c6;
}

.app-icon {
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.App > .bar-right {
    height: 100vh;
    width: calc(100vw - 70px);
}

.bar-right > .right-top-bar {
    width: 100%;
    height: 30px;
    background-color: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 5px;
    padding-left: 10px;
}

.bar-right > .right-container {
    width: 100%;
    height: calc(100% - 30px);
    background-color: #d2dae2;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #d2dae2;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #3c40c6;
    box-shadow: inset 0 0 6px #808e9b;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #575fcf;
}

.App > .go-update {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 142, 155, 0.3);
}

.go-update > .container {
    margin-top: 20vh;
    border-radius: 10px;
    width: 500px;
    height: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.go-update > .container > .header {
    background-color: rgba(60, 64, 198, 1);
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: white;
}

.go-update > .container > .body {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    background-color: white;
    width: 100%;
    padding: 20px;
}

.go-update > .container > .bottom {
    height: 50px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.btn1 {
    background-color: #3c40c6;
    width: 50%;
    height: 100%;
    color: white;
    border-radius: 0 0 0px 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.btn2 {
    background-color: #ff3f34;
    height: 100%;
    width: 50%;
    color: white;
    border-radius: 0 0 10px 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.info {
    margin-bottom: 30px;
}

.progress{
    width: 100%;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.func-container {
    width: 100%;
    height: calc(100% - 25px);
}